.registerPage{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;

    form{
        display: flex;
        flex-direction: column;
        padding: 25px;
        border: 1.5px solid black;
        border-radius: 5px;
        gap: 10px;

        button{
            padding: 5px 0;
            margin-top: 10px;
        }

        h2{
            margin: auto;
            
        }
    }

}